*{margin: 0;
padding: 0;
box-sizing: border-box;}


.wrap {width: 100%;
height: 100vh;
background-color: #ffffff;
display: flex;
flex-direction: column;
align-items: center;
}

header{width: 100%;
height: 10vh;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 100px;
text-transform:uppercase;
}

.logoGroup{
    display: flex;
    align-items: center;

}

.Logo{
    margin-left:  10px;
    color: #247CC0;
}

header  h3 .Logo {color: #247CC0;}

 .ContactUs  {color: #333;
margin-left: 10px;}

 .ContainerSelect {display: flex;
align-items: center;
justify-content: space-around;

}
 
.ContainerSelect select{border: none;
margin: 0 10px;
text-transform:uppercase;
}

.ContainerItem i {
    margin:0  10px;

}
 

.pColor{color: #C72535;
font-size: 20px;}

.h1Color{color: #247CC0;
    font-size: 50px;}


    .HomeContainer{display: flex;}


    .HomeText{margin: 50 0px;
    margin: 100px 10px;}

    .HomeText h2 {
        font-size: 50px;
    }

    .HomeText p {margin-top:20px ;}
.ShopBut  {background-color: #247CC0;
border: none;
color: #ffffff;
width: 100px;
height: 40px;
cursor: pointer;
margin-top:20px ;

}

img {width: 400px;
height: 400px;}