*{margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Montserrat;}


.wrap {width: 100%;
height: 200vh;
background-color: #ffffff;
display: flex;
flex-direction: column;
align-items: center;
}

header{width: 100%;
height: 10vh;
background-color: rgb(255, 255, 255);
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 100px;
text-transform:uppercase;
}

.logoGroup{
    display: flex;
    align-items: center;

}

.Logo{
    margin-left:  10px;
    color: #247CC0;
}

header  h3 .Logo {color: #247CC0;}

 .ContactUs  {color: #333;
margin-left: 10px;}

 .ContainerSelect {display: flex;
align-items: center;
justify-content: space-around;

}
 
.ContainerSelect select{border: none;
margin: 50px 10px;
text-transform:uppercase;
}

.ContainerItem i {
    margin:0  10px;

}



 

.pColor{color: #C72535;
font-size: 20px;


}

.h1Color{color: #247CC0;
    font-size: 50px;}


    .HomeContainer{display: flex;
    justify-content: start;
align-items: center;
margin: 0 100px;
}


    .HomeText{margin: 50 0px;
    margin: 100px 100px;
    margin-left: -100px;
    align-items: start;
    position: relative;
    /* left: -70px; */

}

    .HomeText h2 {
        font-size: 55px;
    }


.ContainerImg img{display: flex;
align-items: center;
justify-content: end;
position: relative;
left: 100px;

}
    
    .HomeText p {margin-top:20px ;}

.ShopBut  {background-color: #247CC0;
border: none;
color: #ffffff;
width: 100px;
height: 40px;
cursor: pointer;
margin-top:20px ;

}

img {width: 500px;
height: 500px;}

.barsMenu{display: none;}


.BanerContainer{
    width: 100%;
    height: 40vh;
    /* background-color: #247CC0;
     */
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 200px;
}


.BanerContainer  img {width: 150px;
height: 120px;
margin: 50px;
flex-wrap: wrap;}







.TovarContainer{width: 100%;
height: 50vh;
background-color: #ffffff;
display: flex;
justify-content: center;
}


.TovarItem{width: 600px;
height: 300px;
background-color:#ffffff;
display: flex;
margin: 10px;
margin-left: 50px;}


.TovarItem h2 {
    margin: 10px;
    margin-top: 50px;
    font-size: 30px;
    left: -10px;
    position: relative;
}


.TovarItem p {
    
    font-size: 18px;
    
    position: relative;

}



.TovarItem img{width: 280px;
height: 270px;}


.TextTovar{margin: 10px 40px;}



.priceTovar{margin-top: 20px;
font-size: 22px;}

.starTovar{font-size: 20px;
}



.ActionContainer{display: flex;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 100px 0;
}


.ActionItem{width: 600px;
    margin-left: 50px;
    position: relative;
    left: -10px;
height: 270px;
background: rgb(217,67,201);
background: linear-gradient(90deg, rgba(217,67,201,1) 0%, rgba(0,139,240,1) 88%);
}


.ActionImg{width: 300px;
height: 300px;
margin-left: 300px;
position:  relative;
left: 55px;
top: 20px;}



  .ActionText  {color: #F4F9FC;
position: relative;
top: -30px;
margin: 10px ;
font-size: 23px;
margin-left: 40px;
margin-top: -140px;}



.ActionText p{text-transform:uppercase;
font-size: 17px;}



.ActionText h2{
    font-size: 35px;}
    

.ActionText button {
    border: none;
    color: #F4F9FC;
    font-size: 20px;
    text-transform:uppercase;
    background: rgb(217,67,201);
background: linear-gradient(90deg, rgba(217,67,201,1) 0%, rgba(153,88,213,1) 71%);
}


.productPage{
    width: 100%;
    min-height: 100vh;
    /* background-color: rgba(127, 255, 212, 0.572); */

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 200px;
}


.productPage p{
    color: #C72535;
}
.productPage h2{
    margin: 30px;
}

.productPage ul{
    list-style: none;
    display: flex;
}
.productPage ul li{
    margin: 0 20px;
}
.productPage ul li:first-child{
    color: #C72535;
}

.productContainer{
    width: 100%;
    padding: 50px 100px;
    display: flex;
    flex-wrap: wrap;
    /* background-color: cadetblue; */
    justify-content: space-around;
}
.productItem{
    width: 300px;
    height: 200px;
    border: 1px solid #aaa;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px;
}
.productText{
    width: 100%;
    text-align: left;
}
@media (max-width: 1200px) {
    
    html {
        font-size: 55%;
    }
    
}


@media (max-width: 991px) {


    .logoGroup{
        display: flex;
        align-items: center;
        font-size: 20px
    
    }
    
    .Logo{
        margin-left:  10px;
        color: #247CC0;
    }
    
    header {
        padding: 2rem 3% ;
        
    }
    

    header {
        padding:   2rem  3%;
    }
  
    .HomeText{font-size: 10px;
   
margin: -100px;
margin-top: 20px;
left: 0px;

position: relative;}

.fa-bars{display: flex;}

.ContainerSelect{display: none;}

.ContainerItem{display: flex;

font-size: 18px}

.HomeText h2{
    font-size: 51px;

}

.barsMenu{display: flex;}
.HomeText p{
    font-size: 16px;

}

    .ContainerImg img{
 
display: none
}






    
      






}
